# furo==2021.11.16
sphinx>=7.0
pillow>=4.0.0
sphinx-design
sphinx-argparse  
sphinxcontrib-bibtex
sphinxcontrib-mermaid
sphinx_rtd_theme
ghp-import # for GitHub Pages import
nbsphinx
numpydoc
docutils
# matplotlib # removed, already in schism_env.yml
# ipython    # removed, already in schism_env.yml
# pip        # removed, already in schism_env.yml