# Inputs
dem/
param.nml
vgrid.in
bctides.in
sflux/*.nc
hotstart.in
hotstart*.nc
uv3D.th.nc
elev2D.th.nc
sediment.nml

# Preprocessor inputs
scripts/*water_level.txt

# Run specific
launch*.pbs
schism*.sh

# Preprocessor outupts
SAL_nudge.gr3
TEM_nudge.gr3
albedo.gr3
diffmax.gr3
diffmin.gr3
elev.ic
estuary.gr3
hgrid.gr3
hgrid.ll
hydraulics.in
krvel.gr3
manning.gr3
nlayer.gr3
nlayer_default.gr3
rough.gr3
source_sink.in
vgrid.in.3d
watertype.gr3
windfactor.gr3
windrot_geo2proj.gr3
xlsc.gr3
dem_misses.txt
zsmoothsave.txt
SED_hvar_*.ic
bed_frac_*.ic
bedthick.ic
SAL_1.th
TEM_1.th
ccfb_gate.th
delta_cross_channel.th
flux.th
grantline_culvert.th
grantline_weir.th
grantline_barrier.th
midr_culvert_l.th
midr_culvert_r.th
midr_weir.th
montezuma_boat_lock.th
montezuma_flash.th
montezuma_radial.th
vsource.th
vsink.th
msource.th
msource_sed.th
msource.th.*
oldr_head_barrier.th
oldr_tracy_culvert.th
oldr_tracy_weir.th
west_false_river_barrier_leakage.th
SAL_nu.nc
TEM_nu.nc
hgrid_WWM.gr3

# Run outputs
*.prop
*echo.yaml
*.log
*.out
outputs/
outputs*/
fort.*
systest.dat
total.dat
total_TR.dat
flux.dat
wwmcheck.nml

# Other run outputs
*.o*
*.e*

# Temporary files
*.swp

# Linux cache files
.nfs*

scripts/noaa*.csv
scripts/all_stations_*.csv
scripts/SAL_nu*.nc
scripts/TEM_nu*.nc
scripts/salinity_nudge.gr3
scripts/temperature_nudge.gr3
scripts/hotstart_data_salinity.csv
scripts/hotstart_data_temperature.csv
scripts/nudging_data_salinity.csv
scripts/nudging_data_temperature.csv
scripts/obs_xy.csv

# Wind data
glob*
