.wy-nav-content {
    max-width: 1200px !important;
}

/* Links */
a {
    color: #CA7900;
    text-decoration: none;
}

a:hover {
    color: #2491CF;
}

/* Side Menu Links */
.md-nav__item a {
    color: black;
}

.md-nav__item a:hover {
    color: #0d6396;
}

/* Equation number alignment */
.eqno {
    float: right;
    clear: right;
    margin-left: 1em;
    text-align: left;
}

/* Word wrapping in tables */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

/* Right-align first column in selected tables */
.wy-table-responsive table.right-align-first-col td:first-child,
.wy-table-responsive table.right-align-first-col th:first-child {
    text-align: right;
}